*{
    padding: 0;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

body{
    background-color: #ebe7e6;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}
.intro::before{
    content: "";
    width: 1515px;
    background-image: url(img/logob.png);
    background-repeat: no-repeat;
    left: -100px;
    top: 0px;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
}

.logo2{
    position: absolute;
    height: 300px;
    right: 100px;
    margin-top: 180px;
}

.menu{
    height: 80px;
    width: 100%;
    position: fixed;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.545), transparent);
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.menu img{
    height: 50px;
    position: absolute;
    margin-top: 5px;
}

.barram{
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-top: 5px;
    justify-content: right;
    margin-right: 25px;
}

.barram li a{
    font-size: 20px;
    text-decoration: none;
    color: #ebe7e6;
}

.intro{
    position: relative;
    margin: auto;
    margin-top: 50px;
    height: 700px;
    width: 1400px;
    color: black;
    font-family: Impact;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
}

.yo{
    position: absolute;
    bottom: 0;
    left: 200px;
    padding: 0;
    margin-bottom: -37px;
}

.intro::after {
  content: "";
  width: calc(100% + 115px);
  height: 200px;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.736), transparent);
}

h1{
    margin-top: -400px;
    font-size: 180px;
    letter-spacing: 7px;
}
h4{
    font-family: sans-serif;
    position: absolute;
    margin-left: 2vw;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 200;
}

nav{
    background-color: black;
    height: 700px;
    position: relative;
    width: 1515px;
}


.arriba{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
    list-style-type: none;
}

.abajo{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 60px;
    list-style-type: none;
}

.paginas img{
    transform-origin: bottom center;
}

.pl1w{
    position: relative;
    display: inline-block;
}

.pl{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 100%;
    height: auto;
}

.pl1{
    display: block;
    transition: opacity 0.2s ease;
}

.pl1w:hover .pl1{
    transform: scale(1.1);
}

.pl1w:hover .pl{
    opacity: 1;
}

.can1w{
    position: relative;
    display: inline-block;
}

.can{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 100%;
    height: auto;
}

.can1{
    display: block;
    transition: opacity 0.2s ease;
}

.can1w:hover .can1{
    transform: scale(1.1);
}

.can1w:hover .can{
    opacity: 1;
}

.mec1w{
    position: relative;
    display: inline-block;
}

.mec{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 100%;
    height: auto;
}

.mec1{
    display: block;
    transition: opacity 0.2s ease;
}

.mec1w:hover .mec1{
    transform: scale(1.1);
}

.mec1w:hover .mec{
    opacity: 1;
}

.col1w{
    position: relative;
    display: inline-block;
}

.col{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 100%;
    height: auto;
}

.col1{
    display: block;
    transition: opacity 0.2s ease;
}

.col1w:hover .col1{
    transform: scale(1.1);
}

.col1w:hover .col{
    opacity: 1;
}

.mas1w{
    position: relative;
    display: inline-block;
}

.mas{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 100%;
    height: auto;
}

.mec1{
    display: block;
    transition: opacity 0.2s ease;
}

.mas1w:hover .mas1{
    transform: scale(1.1);
}

.mas1w:hover .mas{
    opacity: 1;
}

.obr1w{
    position: relative;
    display: inline-block;
}

.obr{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 100%;
    height: auto;
}

.obr1{
    display: block;
    transition: opacity 0.2s ease;
}

.obr1w:hover .obr1{
    transform: scale(1.1);
}

.obr1w:hover .obr{
    opacity: 1;
}

h3{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Impact;
    letter-spacing: 5px;
    padding-top: 50px;
}
footer{
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}